:root {
    --heart: "M 150 71.5 C 117.199219 15.039062 25 31.523438 25 102.261719 C 25 148.824219 79.3125 198.851562 141.289062 259.011719 C 143.710938 261.375 146.863281 262.550781 150 262.550781 C 153.136719 262.550781 156.289062 261.375 158.710938 259.011719 C 220.925781 198.625 275 148.835938 275 102.261719 C 275 31.289062 182.550781 15.460938 150 71.5 Z M 150 71.5 ";
   
   --square: "M 262.5 50 C 262.5 44.023438 257.761719 37.5 250 37.5 L 50 37.5 C 42.25 37.5 37.5 43.988281 37.5 50 L 37.5 250 C 37.5 257.761719 44 262.5 50 262.5 L 250 262.5 C 255.976562 262.5 262.5 257.761719 262.5 250 Z M 262.5 50 ";
   
   --circle: "M 274.949219 149.976562 C 274.949219 218.996094 218.996094 274.949219 149.976562 274.949219 C 80.953125 274.949219 25 218.996094 25 149.976562 C 25 80.953125 80.953125 25 149.976562 25 C 218.996094 25 274.949219 80.953125 274.949219 149.976562 Z M 274.949219 149.976562 ";
   
   --rectangle: "M 300 25 C 300 11.199219 288.800781 0 275 0 L 25 0 C 11.199219 0 0 11.199219 0 25 L 0 275 C 0 288.800781 11.199219 300 25 300 L 275 300 C 288.800781 300 300 288.800781 300 275 Z M 300 25 "
}

#content {
    border: 3px solid black;
    border-radius: 6px;
    margin: auto;
    display: block;
}

#upload_image {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hide {
    display: none;
}

#desgined_image_container {
    display: none;
}

.designed_images {
    width: 300px;
    height: 250px;
    background-color: aliceblue;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
}

.new_image{
    clip-path: path(var(--rectangle));
    margin: 2em;
}
.heart{
    clip-path: path(var(--heart));
    margin: 2em;
}
.square{
    clip-path: path(var(--square));
    margin: 2em;
}
.circle{
    clip-path: path(var(--circle));
    margin: 2em;
}